html{
  background-color: #A0A9A9;
}
.main-container {
    display: flex;
    justify-content: center;
    height: 60%;
    align-items: center;
}
h1 {
  color: black;
  margin-top: 1%;
  margin-left: 3%;
  font-size: 50pt;
  font-family: sans-serif;
  font-weight: 200;
  font-style: italic;
  margin-bottom: 0.1%;
  transition: 1s;
}
h1:hover {
  color: #658FB3;
  transition: 1s;
}
#untertitel {
  margin-top: 0%;
  margin-left: 5%;
  font-size: 14;
  font-family: sans-serif;
  font-weight: 100;
  font-style: italic;
}
h2 {
  color: #424242;
  margin-left: 3%;
  font-size: 20pt;
  font-family: sans-serif;
  font-weight: 400;
}
#rest{
  color: #424242;
  margin-top: 2%;
  margin-left: 4%;
  font-family: sans-serif;
  font-weight: 100;
}
#main {
  border: solid;
  border-width: 1pt;
  margin: 3%;
  background-color: #F6F6F6;
}
#text-in {
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: #F6F6F6;
    border-bottom: 1px solid #CCCCCC;
}
#text-in:focus {
    outline: none;
    border-bottom: 1px solid #42a7f4;
}
#text-out {
    font-family: sans-serif;
    font-size: 13px;
}
.swal-overlay #endswal{
  background-color: black;

}
